@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Bubbles&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik Bubbles", system-ui;
    color: white;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main{
    display: flex;
    flex-direction: row;
    margin: 0 200px 12px 200px;
}

.main{
    max-width: 1520px;
    display: flex;
    flex-direction: column;
}

.main__container{
    max-width: 956px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 50px;
    justify-content: space-around;
    margin: 50px 50px 50px 50px;
}

.main__container__block{
    width: 448px;
    height: 329px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 15px 20px 15px;
    border: none;
    border-radius: 20px;
}

.main__container__block:nth-child(1){
    background-color: #FF6699;
}

.main__container__block:nth-child(2){
    background-image: url("../images/photo1.jpg");
    background-size: cover;
    background-position: center;
}

.main__container__block:nth-child(3){
    background-image: url("../images/photo2.jpg");
    background-size: cover;
    background-position: center;
}

.main__container__block:nth-child(4){
    background-color: #00CCFF;
}

.main__container__block__header__text{
    font-size: 48px;
    line-height: 70px;
}

.main__container__block__text{
    font-size: 36px;
}

.main__container__block__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main__information{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #00CCFF;
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 20px 15px 20px 15px;
}

.main__information__header__text{
    font-size: 48px;
}

.main__information__container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main__information__container__block{
    display: flex;
    flex-direction: row;
    gap: 63px;
}

.main__information__container__block__text{
    width: 300px;
    height: 36px;
    font-size: 36px;
}

.sidebar{
    width: 464px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF6699;
    border: none;
    border-radius: 0 0 20px 0;
    padding: 50px 0 20px 0;
    gap: 50px;
}

.sidebar__header{
    text-align: center;
    font-size: 64px;
}

.sidebar__form{
    width: 434px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar__form__block{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar__form__block__label{
    font-size: 48px;
}

.sidebar__form__block__input{
    width: 404px;
    height: 41px;
    color: black;
    padding-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.sidebar__button{
    font-size: 48px;
    text-align: center;
    background-color: #00CCFF;
    padding: 10.5px 33.5px 10.5px 33.5px;
    border: none;
    border-radius: 50px;
}

.footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 277px 20px 277px;
}

.footer__contacts{
    display: flex;
    gap: 5px;
}

.footer__contacts__text{
    color: black;
    font-size: 36px;
}

.footer__links{
    display: flex;
    gap: 5px;
}

.footer__links__text{
    color: black;
    font-size: 36px;
}

button:hover{
    cursor: pointer;
}

@media (max-width: 450px){

    main{
        max-width: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0 50px 0;
        gap: 50px;
    }

    .main__container{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        margin: 0 5px 0 5px;
    }

    .main__container__block{
        width: 360px;
        height: 220px;
        padding: 13px 12px 13px 12px;
    }

    .main__container__block:nth-child(2){
        display: none;
    }

    .main__container__block:nth-child(3){
        display: none;
    }

    .main__container__block__header__text{
        font-size: 36px;
        line-height: 43px;
    }

    .main__container__block__text{
        font-size: 24px;
    }

    .main__information{
        height: 450px;
        border-radius: 20px;
        padding: 20px 15px 20px 15px;
        margin: 50px 5px 0 5px;
        gap: 20px;
    }

    .main__information__header__text{
        font-size: 36px;
    }

    .main__information__container__block{
        flex-direction: column;
        gap: 25px;
    }

    .main__information__container__block__text{
        width: auto;
        height: 37px;
        font-size: 24px;
    }

    .sidebar{
        width: 400px;
        height: 816px;
        border-radius: 20px;
        padding: 50px 20px 20px 20px;
        gap: 20px;
    }

    .sidebar__header{
        text-align: center;
        font-size: 36px;
    }

    .sidebar__form{
        width: 360px;
        height: 542px;
        align-items: center;
        padding-top: 21px;
        gap: 30px;
    }

    .sidebar__form__block{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .sidebar__form__block__label{
        font-size: 32px;
    }

    .sidebar__form__block__input{
        width: 336px;
        padding-left: 10px;
    }

    .footer{
        width: 100%;
        height: 321px;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px 40px 20px;
    }

    .footer__contacts{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .footer__links{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

}